.apkart {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 10px 0 0; /* Decreased padding */
    margin-bottom: 10px; /* Decreased margin */
    width: 90%; /* Custom width */
    max-width: 900px; /* Custom max-width */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
  }