body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 5rem;
}



nav {
  margin-right: 2rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 1rem;
}

h1 {
  margin: 0;
  margin-right: 50px; 
}

.Pievienoties {
  margin-right: 2rem;
  color: #2e1e1e;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #c71717;
}

nav a {
  color: #2e1e1e;
  text-decoration: none;
}

.grozs {
  align-items: center;
  justify-items: left;
  padding-left: 2rem;
}

span {
  margin-left: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.search-bar form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-bar input[type="text"] {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.search-bar button[type="submit"] {
  padding: 0.5rem;
  background-color: #c71717;
  border: none;
  border-radius: 5px;
  margin-left: 0.5rem;
  color: #fff;
  font-size: 1rem;
}

.search-bar button[type="submit"]:hover {
  background-color: #2e1e1e;
  cursor: pointer;
}


a {
  justify-content: space-between;
  align-items: right;
  color: #2e1e1e;
  text-decoration: none;
  margin: 0 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: right;
}

.pievienot-grozam {
  display: block;
  background-color: #FF5733;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.pievienot-grozam:hover {
  background-color: #FF7733;
}

.filtrs-conainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filtrs-conainer select {
  margin-left: 10px;
  padding: 5px;
  border-radius: 1px;
  border: 1px solid #FF7733;
  font-size: 16px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #000000;
}

.product {
  flex-basis: calc(25% - 1rem);
  margin: 0.5rem;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

section.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

main {
  padding: 2rem;
}

.site-search-module{
  position:absolute;
  left:100px;
  width: 100%;
}
.site-search-module-inside{
  padding:15px 15px;
  height:210px;
  background:#FF7733;
  border-top:3px solid rgba(163, 59, 59, 0.8);
}
.site-search-module-inside .btn{
  padding-top:14px;
  padding-bottom:12px;
}
.site-search-module-inside .selectpicker.btn{
  padding-top:12px;
}
#ads-trigger{
  display:inline-block;
  padding-top:11px;
  padding-bottom:11px;
}


.karstakie{
  justify-content: center;
}

.hero{
  min-height: 500px;
  background-image: url('../atteli/hero.png');
}



.property-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -15px;
}

.property-grid .grid-item {
  width: calc(33.33% - 30px);
  margin: 15px;
  box-sizing: border-box;
}

.property-grid .property-block {
  position: relative;
  border: 1px solid #e5e5e5;
}

.property-grid .property-featured-image {
  display: block;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
}

.property-grid .property-featured-image img {
  display: block;
  width: 100%;
  height: auto;
}

.property-grid .property-info {
  padding: 15px;
}

.property-grid .property-info h4 {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.property-grid .property-info .location {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  color: #888;
}

.property-grid .property-info .price {
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
  margin-top: 10px;
}

.property-grid .property-info .price strong {
  font-size: 16px;
  line-height: 20px;
  margin-right: 5px;
}

.property-grid .property-amenities {
  border-top: 1px solid #e5e5e5;
  padding: 15px;
  font-size: 14px;
  line-height: 18px;
  color: #888;
}

.property-grid .property-amenities span {
  display: inline-block;
  margin-right: 15px;
}

.property-grid .property-amenities span strong {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.property-grid .property-amenities span i {
  margin-right: 5px;
}


/* Responsive styles */
  nav ul {
    flex-direction: column;
  }
  nav li {
    margin: 1rem 0;
  }
  @media (max-width: 767px) {
    .hero {
      min-height: 300px;
    }
  }

